
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ffdeb5, #ffcea5);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body {
    font-family: 'Poppins', sans-serif;
}
ol {
    list-style-type: none;
    padding: 0;
}
li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    transition: background-color 0.3s;
}
li:hover {
    background-color: #f0f0f0;
}
div, h1 {
    text-align: center;
}